<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<script>{{{requirejs-inline-config}}}</script>
<script src="/vendors/requirejs/require.js" data-main="/javascripts/main.js"></script>
<!-- <script src="/vendors/requirejs/require.js" data-main="/javascripts/main.build.js"></script> -->
