<div class="container-fluid" id="container">
  <div id="messages"></div>
</div>
<footer class="footer">
  <div id="textarea"></div>
</footer>
<script src="/vendors/requirejs/require.js" data-main="/javascripts/main.js"></script>
